@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Grades Audit</title>
</head>
<body>
<div>
    <p>Grades Audit</p>
    <a asp-page="Rate">Rate new</a>
    <a asp-page="Audit">View audit</a>
</div>
</body>
</html>
